@charset "UTF-8";
.sideCardContainer {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .sideCardContainer {
    display: block; /* Oculta el elemento en dispositivos con un ancho de pantalla de 767 píxeles o menos (por ejemplo, tabletas y móviles) */
  }
}
.sideCard {
  min-width: 230px;
  max-width: 325px;
  height: 512px;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sideCard p {
  margin: 5px 0px;
}

.sideCard .linkAndCommentSection:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}

.cardTitle {
  color: #404040;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}

.sideCardLink {
  color: #717171;
  font-size: 17px;
}

.sideCardComment {
  color: #717171;
  font-size: 14px;
}

.sideCardComment:hover {
  color: #717171;
}

.linkAndCommentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 82px;
}

.linkAndCommentSection a {
  text-decoration: none;
  color: black;
}

.linkAndCommentSection a:hover {
  color: blue;
}

.widget {
  width: 100%;
  height: 1448px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px 16px 16px 16px;
  margin: 8px 0px 16px 0px;
  border-radius: 10px;
  padding: 10px;
  margin: 8px 0 16px 0;
  justify-content: flex-start;
}

.widget a {
  text-decoration: none;
  color: black;
}

.widget a:hover {
  color: blue;
}

.widget h4 {
  width: 210px;
  height: 21.594px;
  font-family: monospace;
  font-size: 14.4px;
  color: #171717;
  font-weight: 600;
  background-color: #f5f5f5;
  padding: 0;
}

.widgetList {
  display: flex;
  width: 170px;
  height: 72px;
  flex-direction: column;
  margin-top: 0;
}

.widgetLinks {
  justify-items: center;
  width: 300px;
  height: 72px;
  padding: 16px;
  color: #404040;
  font-size: 16px;
  border-bottom: 0.0667px solid #f5f5f5;
  max-width: 200px;
}

.widgetLinks:hover {
  background-color: white;
}

.widgetLinks:last-child {
  border-bottom: 1px solid lightgray;
}

.popularTags {
  display: flex;
}

.popular {
  width: 232px;
  height: 300px;
  overflow: scroll;
  scrollbar-base-color: transparent;
  padding: 8px 16px;
  margin-bottom: 25px;
}
@media (min-width: 780px) {
  .popular {
    padding: 8px 0;
  }
}

.popularTags h2 {
  padding: 8px 16px;
}
@media (min-width: 780px) {
  .popularTags h2 {
    padding: 8px 0;
  }
}

.box1 {
  display: flex;
  background: #fff;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px;
  margin-top: -10px;
  text-decoration: none;
}

.dots {
  justify-items: right;
}

strong {
  color: #171717;
}

strong:hover {
  color: blue;
}

.box1 a {
  text-decoration: none;
}

.juniorCard {
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

img.fullWidth {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: -20px;
}
@media (min-width: 768px) {
  img.fullWidth {
    border-radius: 10px 10px 0 0;
  }
}

.juniorDevSectionPadding {
  padding: 25px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .juniorDevSectionPadding {
    padding: 20px;
  }
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.profileInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 346px;
  max-height: 42px;
  gap: 10px;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  height: 42px;
}

.profile-subtitle {
  font-size: 12px;
  color: #717171;
  font-weight: 300;
}

.emoji-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.emoji {
  display: flex;
  gap: 8px;
}

.mainTitle {
  font-size: 20px;
  margin-top: 10px;
}
@media (min-width: 640px) {
  .mainTitle {
    font-size: 30px;
  }
}

.mainTitle:hover {
  color: blue;
}

.tagSection {
  display: flex;
  gap: 10px;
}

.tags {
  background: transparent;
  color: #717171;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 14px;
  padding: 5px;
}

.tags:hover {
  background-color: rgba(113, 113, 113, 0.1254901961);
  outline: 1.5px solid rgba(113, 113, 113, 0.4392156863);
  border-radius: 5px;
}

.commentSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.setOfEmojis {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 1 2px 1;
}

.emojiText {
  font-size: 12px;
  color: #717171;
}

.bookmarkSection {
  font-size: 12px;
  color: #717171;
  display: flex;
  gap: 10px;
  padding: 5px;
}

.showOnTabletOnly {
  display: none;
}
@media (min-width: 640px) {
  .showOnTabletOnly {
    display: block;
  }
}

@media (min-width: 1024px) {
  .paddingOnDesktop {
    padding-left: 40px;
  }
}

.bookmarkSection img:hover {
  background-color: #f5f5f5;
  outline: #f5f5f5;
}

.setOfEmojis:hover {
  background-color: #f5f5f5;
}

.cajaFlex {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.articulo {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 10px 0;
  border-radius: 10px;
}

.contenedorImagen {
  width: auto;
  padding: 10px;
  border-radius: 5px;
  padding: 20px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerCard {
  border-top: 30px solid #6ae002;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  border-bottom: 0.5px solid;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  position: relative;
}

.containerCard2 {
  border-top: 30px solid #000000;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  border-bottom: 0.5px solid;
  display: block;
 
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  position: relative;
}

.containerCard3 {
  border-top: 30px solid #318da5;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  border-bottom: 0.5px solid;
  display: block;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  position: relative;
}

.containerCard4 {
  border-top: 30px solid #007662;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  border-bottom: 0.5px solid;
  display: block;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  position: relative;
}

.containerImag img {
  border-radius: 50%;
  display: flex;
  padding: 10%;
  max-width: 100px;
}

.description {
  padding: 20px;
}

.descriptionCard p {
  text-align: left;
  margin: auto;
}

.cardButton {
  height: 50px;
  width: 200px;
  border: #3b49df;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #3b49df;
  border: #3b49df solid;
}

.cardButton:hover {
  background-color: #3b49df;
  color: white;
}

@media screen and (min-width: 600px) {
  .cajaFlex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.conteiner {
  display: flex;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  height: 450px;
  /*box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.431);*/
}
.conteiner .contenedorP {
  display: flex;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  height: 300px;
  width: 100%;
  /*box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.431);*/
  align-items: center;
  justify-content: center;
}
.conteiner .contenedorP .crudForm {
  display: flex;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  height: 300px;
  width: 100%;
  /*box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.431);*/
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.conteiner .contenedorP .crudForm .articulo {
  max-width: 100%;
  max-height: 100%;
}
.conteiner .contenedorP .crudForm .titulo {
  min-width: 300px;
  max-height: 100%;
}
.conteiner .postCreado {
  display: flex;
}

.nombreUsuario {
  grid-column: -1/-1;
  justify-items: left;
  font-size: 15px;
}

.tituloPost {
  grid-column: 1/-1;
  justify-items: left;
  font-size: 50px;
}

.articuloPost {
  grid-column: 1/-1;
  justify-items: left;
  font-size: 20px;
}


.tagsAside {
  grid-column: 1/-1;
  justify-items: right;
  font-size: 10px;
  display: flex;
}

.emojisContenedor {
  grid-column: 1/-1;
  justify-items: right;
  font-size: 10px;
  display: flex;
}



.contenedorReaccionesMas {
  display: flex;
  font-size: 10px;
}

/*

*/
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  background: rgb(245, 245, 245);
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body header {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .headerContainer {
  max-width: 1280px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #fff;
  height: 60px;
  min-width: 410px;
}
body header .headerContainer .hamburgerContainer {
  display: flex;
  align-items: center;
  padding-left: 29px;
  gap: 10px;
}
body header .headerContainer .searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
body header .headerContainer .searchContainer a {
  text-decoration: none;
  color: #3b49df;
  border-radius: 4px;
  padding: 7px 15px;
}
body header .headerContainer .searchContainer a:hover {
  text-align: center;
  background-color: rgba(59, 73, 223, 0.1019607843);
  text-decoration: underline;
}
body header .headerContainer .searchContainer .createAccountHeader {
  text-decoration: none;
  color: #3b49df;
  font-size: 16px;
  border-radius: 4px;
  padding: 7px 15px;
  border: 1px solid #3b49df;
}
body header .headerContainer .searchContainer .createAccountHeader:hover {
  background-color: #3b49df;
  color: #fff;
  text-decoration: underline;
}
body main {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .mainContainer {
  box-sizing: border-box;
  max-width: 1180px;
}
body main .mainContainer .asideLeft {
  width: 232px;
  margin: 10px;
}
body main .mainContainer .asideLeft .logInBox {
  display: flex;
  background: #fff;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px;
  margin-top: -10px;
}
body main .mainContainer .asideLeft .logInBox .logInButtons {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  flex-direction: column;
  padding: 10px;
}
body main .mainContainer .asideLeft .logInBox .logInButtons .A {
  text-decoration: none;
  color: black;
  font-size: 16px;
  border-radius: 4px;
  padding: 7px 15px;
}
body main .mainContainer .asideLeft .asideNav {
  width: 100%;
  margin-top: 30px;
}
body main .mainContainer .asideLeft .asideNav a {
  font-size: 15px;
  text-decoration: none;
  width: 100%;
  color: black;
}
body main .mainContainer .asideLeft .asideNav .asideIcons i {
  font-size: 23px;
  padding: 5px;
  margin-right: 0;
}
body main .mainContainer .asideLeft .asideNav .asideIcons i:hover {
  padding: 5px;
  background: rgba(59, 73, 223, 0.1019607843);
}
body main .mainContainer .asideLeft .asideNav i {
  font-size: 17px;
  margin-right: 15px;
}
body main .mainContainer .asideLeft .asideNav li {
  list-style: none;
  padding: 7px 15px;
}
body main .mainContainer .asideLeft .asideNav li:hover {
  background-color: rgba(59, 73, 223, 0.1019607843);
  width: 80%;
  border-radius: 4px;
  text-decoration: underline;
}
body main .mainContainer .asideLeft .asideNav .other {
  margin-bottom: 30px;
}
body main .mainContainer .asideLeft .asideNav ul {
  display: flex;
  align-self: start;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  width: 100%;
}
body main .mainContainer .juniorDevSectionPadding {
  display: flex;
}
body main .mainContainer .juniorDevSectionPadding .postForms {
  display: flex;
  gap: 10px;
  font-size: 16px;
  flex-direction: column;
  border-radius: 4px;
  border: transparent;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.filter {
  display: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.inputNav {
  height: 28px;
  width: 340px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.logo {
  height: 40px;
  width: 50px;
}

#createAccountBtn {
  color: #3b49df;
  text-align: center;
  width: 90%;
  font-size: 16px;
  border-radius: 4px;
  padding: 7px 15px;
  border: 1px solid #3b49df;
}
#createAccountBtn:hover {
  background-color: #3b49df;
  color: #fff;
  text-decoration: underline;
}

#logInAside:hover {
  text-align: center;
  background-color: rgba(59, 73, 223, 0.1019607843);
  width: 90%;
  text-decoration: underline;
}

.middleNav {
  background-color: #f5f5f5;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.middleNav .btn {
  text-decoration: none;
  color: #575757;
  padding: 8px 12px;
  border: 0px;
}
.middleNav .btn:hover {
  background-color: #fff;
  color: #3b49df;
  border-radius: 8px;
}
.middleNav .contenedorTop {
  display: flex;
  justify-content: space-around;
}
.middleNav .contenedorTop .ulu {
  display: flex;
  width: 100px;
  padding: 4px;
  margin-left: 130px;
  list-style: none;
  justify-content: space-around;
  position: absolute;
  visibility: hidden;
  left: 700px;
}

input[type=submit] {
  padding: 10px 20px;
  background-color: #2583e7;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  flex-direction: column;
  border-radius: 4px;
}
input[type=submit]:hover {
  background-color: #0056b3;
}

/* not part of the navbar don't touch */
@media (min-width: 768px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 232px minmax(480px, 2fr);
    gap: 20px;
    padding: 16px;
  }
}
@media (min-width: 1024px) {
  .mainContainer {
    grid-template-columns: 232px minmax(480px, 2fr) 1fr;
  }
}

/* normal media queries */
@media screen and (min-width: 768px) {
  .hamburger {
    position: relative;
  }
  .logInHeader {
    position: absolute;
    top: -50px;
  }
}
@media screen and (min-width: 741px) {
  .hamburger {
    position: absolute;
    top: -40px;
  }
  .glassIcon {
    position: absolute;
    top: -80px;
  }
  .logInHeader {
    position: relative;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .logInHeader {
    position: absolute;
    top: -50px;
  }
  .inputContainer {
    position: absolute;
    top: -80px;
  }
  .asideLeft {
    position: absolute;
    left: -400px;
  }
}
/* Estilos para pantallas grandes (mayores o iguales a 741px) */
@media screen and (min-width: 741px) {
  .logInHeader {
    position: relative;
    top: 0;
  }
  .inputContainer {
    position: relative;
    top: 0;
  }
  .inputGlass {
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  .inputGlass:hover {
    background: rgba(59, 73, 223, 0.1019607843);
    color: #3b49df;
    border-radius: 5px;
  }
}/*# sourceMappingURL=main.css.map */

.conteiner{
  height: 300px;
}

.carousel-inner{
  max-height: 270px;
}
.crudForm{
  margin-top: 20px;
}



.contenedorPost {
  box-shadow: none;
  display: flex;
  margin-top: 10px;
  padding: 5px;
  max-width: 100%;
  min-width: 100%;
  background-color: rgb( 255, 255, 255 );
  border-radius: 7px;
  flex-direction: column;
}

.bodyTabla{
  max-width: 100%;
  min-width: 100%;
  }

 
  .tabla {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.botoncito {
  color: #3b49df;
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  padding: 7px 15px;
  border: 1px solid #3b49df;
  background-color: rgb( 255, 255, 255 );
  text-decoration: none;
}
.botoncito:hover{
  background-color: #3b49df;
  color: #fff;
  text-decoration: underline;
  opacity: none;
}


.botonesContenedor {
  justify-items: right;
  font-size: 8px;
  display: flex;
  max-width: 100px;
  max-height: 50px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: flex-start;
}