.conteiner{
  display: flex;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  height: 450px;  
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.431); 
  .contenedorP{ 
    display: flex;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    height: 450px;
    width: 100%;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.431);
    align-items: center;
    justify-content: center;
    .crudForm{ 
      display: flex;
      border: 1px solid rgb(248, 248, 248);
      border-radius: 20px;
      font-family: 'Roboto', sans-serif;
      height: 450px;
      width: 100%;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.431);
      align-items:stretch;
      justify-content: center;
      flex-direction: column;
      .articulo{
        max-width:100%;
        max-height:100%;
      }
      .titulo{
        min-width:300px ;
        max-height: 100%;
      }
      
    }
  }
  .postCreado{
    display: flex;
  }
}

.botoncito{
  background-color: rgba(20, 19, 19, 0.185);  
  background-size: 100%;
  font-size: 80% ;
  color: rgba(4, 4, 4, 0.907);
  border-radius: 10px;
  text-align: center;
}

.contenedorPost{  
  border: 1px solid rgb(248, 248, 248);
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.431);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
}

.nombreUsuario{
  grid-column: -1 / -1;
  justify-items: left;
  font-size: 15px;
}

.tituloPost{
  grid-column: 1 / -1;
  justify-items: left;
  font-size: 50px;
}

.articuloPost{
  grid-column: 1 / -1;
  justify-items: left;
  font-size: 20px;
}

.botonesContenedor{  
  justify-items: right;
  font-size: 20px;
  display: flex;
}

.tagsAside{
  grid-column: 1 / -1;
  justify-items: right;
  font-size: 10px;
  display: flex;
}

.emojisContenedor{
  grid-column: 1 / -1;
  justify-items: right;
  font-size: 10px;
  display: flex;
}

.botonesContenedor{
  grid-column: 1 / -1;
  display: flex;
}
.contenedorReaccionesMas{
  display: flex;
  font-size: 10px;
}

